div{
    width: 10000px;
    height: 1000px;
    background-color: rgb(252, 0, 0);
    position: relative;
    animation-duration: 14s;
    animation-name: arcoiris;
    animation-iteration-count: infinite;
}

@keyframes arcoiris {
    14.28% {background-color: red;}
    28.56% {background-color: orange;}
    42.84% {background-color: yellow;}
    57.12% {background-color: green;}
    71.4% {background-color: blue;}
    85.68% {background-color: indigo;}
    100% {background-color: violet;}
}